-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: skilltranscript
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Current Database: `skilltranscript`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `skilltranscript` /*!40100 DEFAULT CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci */ /*!80016 DEFAULT ENCRYPTION='N' */;

USE `skilltranscript`;

--
-- Table structure for table `activity`
--

DROP TABLE IF EXISTS `activity`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity` (
  `activityId` varchar(20) NOT NULL,
  `activityName` varchar(100) DEFAULT NULL,
  `description` text,
  `date` date DEFAULT NULL,
  `time` time DEFAULT NULL,
  `endDate` date DEFAULT NULL,
  `endTime` time DEFAULT NULL,
  `hours` decimal(5,2) DEFAULT NULL,
  `location` varchar(200) DEFAULT NULL,
  `organizer` varchar(100) DEFAULT NULL,
  `term` varchar(20) DEFAULT NULL,
  `status` enum('active','past') DEFAULT 'active',
  `confirmationEnabled` tinyint(1) DEFAULT '0',
  `hasEvaluation` tinyint(1) DEFAULT '0',
  `evaluation` longtext,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `confirmationCode` varchar(20) DEFAULT NULL,
  `verification_code` varchar(10) DEFAULT NULL,
  `code_expires_at` datetime DEFAULT NULL,
  `createdBy` varchar(20) DEFAULT NULL,
  `templateId` varchar(20) DEFAULT NULL,
  `registrationStart` datetime DEFAULT NULL,
  `registrationEnd` datetime DEFAULT NULL,
  `registrationEnabled` tinyint(1) NOT NULL DEFAULT '0',
  PRIMARY KEY (`activityId`),
  KEY `fk_activity_template` (`templateId`),
  CONSTRAINT `fk_activity_template` FOREIGN KEY (`templateId`) REFERENCES `template` (`templateId`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity`
--

LOCK TABLES `activity` WRITE;
/*!40000 ALTER TABLE `activity` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_request`
--

DROP TABLE IF EXISTS `activity_request`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity_request` (
  `requestId` varchar(20) NOT NULL,
  `studentId` varchar(20) NOT NULL,
  `activityName` varchar(255) NOT NULL,
  `organizer` varchar(255) NOT NULL,
  `activityDate` date NOT NULL,
  `activityEndDate` date DEFAULT NULL,
  `description` text NOT NULL,
  `evidenceFiles` longtext,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `reason` text,
  `approvedActivityId` varchar(20) DEFAULT NULL,
  `reviewedAt` datetime DEFAULT NULL,
  `createdAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`requestId`),
  KEY `idx_activity_request_student` (`studentId`),
  KEY `idx_activity_request_status` (`status`),
  CONSTRAINT `fk_activity_request_student` FOREIGN KEY (`studentId`) REFERENCES `students` (`studentId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_request`
--

LOCK TABLES `activity_request` WRITE;
/*!40000 ALTER TABLE `activity_request` DISABLE KEYS */;
/*!40000 ALTER TABLE `activity_request` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activity_request_skill`
--

DROP TABLE IF EXISTS `activity_request_skill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activity_request_skill` (
  `requestSkillId` varchar(20) NOT NULL,
  `requestId` varchar(20) NOT NULL,
  `skillname` varchar(100) NOT NULL,
  `level` varchar(50) NOT NULL,
  `createdAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`requestSkillId`),
  KEY `idx_activity_request_skill_request` (`requestId`),
  CONSTRAINT `fk_activity_request_skill_request` FOREIGN KEY (`requestId`) REFERENCES `activity_request` (`requestId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activity_request_skill`
--

LOCK TABLES `activity_request_skill` WRITE;
/*!40000 ALTER TABLE `activity_request_skill` DISABLE KEYS */;
INSERT INTO `activity_request_skill` VALUES ('1BNTc34bZj-ChybtGOMC','95sAP_LKQM4CQCSDja5D','เธ—เธฑเธเธฉเธฐเธเธฒเธฃเธชเธทเนเธญเธชเธฒเธฃ','เธเธทเนเธเธเธฒเธ','2026-09-08 20:20:56');
/*!40000 ALTER TABLE `activity_request_skill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `activityskill`
--

DROP TABLE IF EXISTS `activityskill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `activityskill` (
  `ActivitySkillId` varchar(20) NOT NULL,
  `activityId` varchar(20) DEFAULT NULL,
  `skillId` varchar(20) DEFAULT NULL,
  `skillname` varchar(100) DEFAULT NULL,
  `level` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`ActivitySkillId`),
  KEY `fk_activityskill_activity` (`activityId`) USING BTREE,
  KEY `fk_activityskill_skill` (`skillId`) USING BTREE,
  CONSTRAINT `activityskill_ibfk_1` FOREIGN KEY (`activityId`) REFERENCES `activity` (`activityId`),
  CONSTRAINT `activityskill_ibfk_2` FOREIGN KEY (`skillId`) REFERENCES `skill` (`skillId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `activityskill`
--

LOCK TABLES `activityskill` WRITE;
/*!40000 ALTER TABLE `activityskill` DISABLE KEYS */;
/*!40000 ALTER TABLE `activityskill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `advisor`
--

DROP TABLE IF EXISTS `advisor`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `advisor` (
  `AdvisorId` varchar(20) NOT NULL,
  `studentId` varchar(20) NOT NULL,
  `advisorUserId` varchar(20) NOT NULL,
  PRIMARY KEY (`AdvisorId`),
  KEY `idx_advisor_student` (`studentId`),
  KEY `idx_advisor_user` (`advisorUserId`),
  CONSTRAINT `fk_advisor_student` FOREIGN KEY (`studentId`) REFERENCES `students` (`studentId`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_advisor_user` FOREIGN KEY (`advisorUserId`) REFERENCES `users` (`userId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `advisor`
--

LOCK TABLES `advisor` WRITE;
/*!40000 ALTER TABLE `advisor` DISABLE KEYS */;
INSERT INTO `advisor` VALUES ('ebZ1SSvAcIaXpzlnNSND','662021085','yMw9Z0TFcCZAgM99q5-d'),('TmB1hDy9S6FHRkwjt6tS','662021086','yMw9Z0TFcCZAgM99q5-d'),('TQ8crqybG4BsByIRSfY0','662021084','yMw9Z0TFcCZAgM99q5-d');
/*!40000 ALTER TABLE `advisor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `certificate_settings`
--

DROP TABLE IF EXISTS `certificate_settings`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `certificate_settings` (
  `settingId` tinyint NOT NULL,
  `deanName` varchar(255) NOT NULL DEFAULT '',
  `deanSignatureUrl` varchar(500) DEFAULT NULL,
  `updatedBy` varchar(64) DEFAULT NULL,
  `updatedAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`settingId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `certificate_settings`
--

LOCK TABLES `certificate_settings` WRITE;
/*!40000 ALTER TABLE `certificate_settings` DISABLE KEYS */;
INSERT INTO `certificate_settings` VALUES (1,'เธญเธฒเธฃเธฒเธขเธฒ เธเธนเธ•เธตเธฅเนเธฒเธฒเธฒเธฒเธฒเธฒเธฒเธฒ','/uploads/certificate-settings/3DHAVm6E-Screenshot_2025-04-10_153746-removebg-preview__1_.png','HhzpU9sVRwpVX0FGNIG2','2026-09-08 15:47:45');
/*!40000 ALTER TABLE `certificate_settings` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `officer`
--

DROP TABLE IF EXISTS `officer`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `officer` (
  `officerId` varchar(20) NOT NULL,
  `userId` varchar(20) NOT NULL,
  `firstname` varchar(50) DEFAULT NULL,
  `lastname` varchar(50) DEFAULT NULL,
  `position` varchar(100) DEFAULT NULL,
  `faculty` varchar(255) DEFAULT NULL,
  `profileImageUrl` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`officerId`),
  UNIQUE KEY `uk_officer_userId` (`userId`),
  CONSTRAINT `fk_officer_user` FOREIGN KEY (`userId`) REFERENCES `users` (`userId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `officer`
--

LOCK TABLES `officer` WRITE;
/*!40000 ALTER TABLE `officer` DISABLE KEYS */;
/*!40000 ALTER TABLE `officer` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `participation`
--

DROP TABLE IF EXISTS `participation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `participation` (
  `ParticipationId` varchar(20) NOT NULL,
  `studentId` varchar(20) NOT NULL,
  `activityId` varchar(20) NOT NULL,
  `hours` decimal(5,2) DEFAULT '0.00',
  `joinDate` date DEFAULT NULL,
  `status` varchar(20) DEFAULT 'pending',
  `score` decimal(10,2) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`ParticipationId`),
  KEY `idx_participation_student` (`studentId`),
  KEY `idx_participation_activity` (`activityId`),
  CONSTRAINT `fk_participation_activity` FOREIGN KEY (`activityId`) REFERENCES `activity` (`activityId`) ON DELETE CASCADE,
  CONSTRAINT `fk_participation_student` FOREIGN KEY (`studentId`) REFERENCES `students` (`studentId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `participation`
--

LOCK TABLES `participation` WRITE;
/*!40000 ALTER TABLE `participation` DISABLE KEYS */;
/*!40000 ALTER TABLE `participation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `participation_skill`
--

DROP TABLE IF EXISTS `participation_skill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `participation_skill` (
  `id` int NOT NULL AUTO_INCREMENT,
  `participationId` varchar(20) NOT NULL,
  `skillName` varchar(100) NOT NULL,
  `earnedScore` decimal(10,2) DEFAULT '0.00',
  `maxScore` decimal(10,2) DEFAULT '0.00',
  `normalizedScore` decimal(10,2) DEFAULT '0.00',
  `created_at` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_participation_skill` (`participationId`,`skillName`),
  CONSTRAINT `participation_skill_ibfk_1` FOREIGN KEY (`participationId`) REFERENCES `participation` (`ParticipationId`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `participation_skill`
--

LOCK TABLES `participation_skill` WRITE;
/*!40000 ALTER TABLE `participation_skill` DISABLE KEYS */;
/*!40000 ALTER TABLE `participation_skill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_reset_tokens`
--

DROP TABLE IF EXISTS `password_reset_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_reset_tokens` (
  `id` int NOT NULL AUTO_INCREMENT,
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `token` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL,
  `expires_at` datetime NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_email_token` (`email`,`token`),
  KEY `idx_token` (`token`)
) ENGINE=MyISAM AUTO_INCREMENT=12 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_reset_tokens`
--

LOCK TABLES `password_reset_tokens` WRITE;
/*!40000 ALTER TABLE `password_reset_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `password_reset_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `skill`
--

DROP TABLE IF EXISTS `skill`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `skill` (
  `skillId` varchar(20) NOT NULL,
  `skillname` varchar(100) DEFAULT NULL,
  `level` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`skillId`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `skill`
--

LOCK TABLES `skill` WRITE;
/*!40000 ALTER TABLE `skill` DISABLE KEYS */;
/*!40000 ALTER TABLE `skill` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `students`
--

DROP TABLE IF EXISTS `students`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `students` (
  `studentId` varchar(20) NOT NULL,
  `userId` varchar(20) NOT NULL,
  `firstname` varchar(50) DEFAULT NULL,
  `lastname` varchar(50) DEFAULT NULL,
  `faculty` varchar(255) DEFAULT NULL,
  `program` varchar(255) DEFAULT NULL,
  `major` varchar(255) DEFAULT NULL,
  `admissionYear` int DEFAULT NULL,
  `year` int DEFAULT NULL,
  `phone` varchar(10) DEFAULT NULL,
  `profileImageUrl` varchar(500) DEFAULT NULL,
  `profileimage` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`studentId`),
  UNIQUE KEY `uk_students_userId` (`userId`),
  CONSTRAINT `fk_students_user` FOREIGN KEY (`userId`) REFERENCES `users` (`userId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `students`
--

LOCK TABLES `students` WRITE;
/*!40000 ALTER TABLE `students` DISABLE KEYS */;
/*!40000 ALTER TABLE `students` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `teacher`
--

DROP TABLE IF EXISTS `teacher`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `teacher` (
  `teacherId` varchar(20) NOT NULL,
  `userId` varchar(20) NOT NULL,
  `firstname` varchar(50) DEFAULT NULL,
  `lastname` varchar(50) DEFAULT NULL,
  `position` varchar(100) DEFAULT NULL,
  `faculty` varchar(255) DEFAULT NULL,
  `program` varchar(255) DEFAULT NULL,
  `isExecutive` tinyint(1) DEFAULT '0',
  `profileImageUrl` varchar(500) DEFAULT NULL,
  PRIMARY KEY (`teacherId`),
  UNIQUE KEY `uk_teacher_userId` (`userId`),
  CONSTRAINT `fk_teacher_user` FOREIGN KEY (`userId`) REFERENCES `users` (`userId`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teacher`
--

LOCK TABLES `teacher` WRITE;
/*!40000 ALTER TABLE `teacher` DISABLE KEYS */;
INSERT INTO `teacher` VALUES ('MMgCZrSXM6uzqkHlw5Qk','yMw9Z0TFcCZAgM99q5-d','เธญเธฒเธเธฒเธฃเธต','เธเธฒเนเธ','เธญเธฒเธเธฒเธฃเธขเน / เธฃเธญเธเธเธ“เธเธ”เธตเธเนเธฒเธขเธงเธดเธเธฒเธเธฒเธฃ','เธเธ“เธฐเธงเธดเธ—เธขเธฒเธจเธฒเธชเธ•เธฃเนเนเธฅเธฐเธเธงเธฑเธ•เธเธฃเธฃเธกเธ”เธดเธเธดเธ—เธฑเธฅ','เธงเธดเธ—เธขเธฒเธเธฒเธฃเธเธญเธกเธเธดเธงเน€เธ•เธญเธฃเนเนเธฅเธฐเธชเธฒเธฃเธชเธเน€เธ—เธจ',1,NULL);
/*!40000 ALTER TABLE `teacher` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `template`
--

DROP TABLE IF EXISTS `template`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `template` (
  `templateId` varchar(20) NOT NULL,
  `name` varchar(255) NOT NULL,
  `description` text,
  `imageUrl` varchar(500) NOT NULL,
  `fileType` varchar(50) DEFAULT 'image/png',
  `status` enum('active','inactive') DEFAULT 'active',
  `uploadedBy` varchar(20) DEFAULT NULL,
  `createdAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updatedAt` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`templateId`),
  KEY `idx_status` (`status`),
  KEY `idx_uploadedBy` (`uploadedBy`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `template`
--

LOCK TABLES `template` WRITE;
/*!40000 ALTER TABLE `template` DISABLE KEYS */;
INSERT INTO `template` VALUES ('k24nHez4ZjHLwMDBZ226','qq','qq','/uploads/templates/k24nHez4ZjHLwMDBZ226/Ctjviz2Z-Blue_and_Gold_Elegant_Certificate_of_Achievement.png','image/png','active','yMw9Z0TFcCZAgM99q5-d','2026-09-08 20:04:00','2026-09-08 20:04:00');
/*!40000 ALTER TABLE `template` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `userId` varchar(20) NOT NULL,
  `email` varchar(100) NOT NULL,
  `password` varchar(255) NOT NULL,
  `role` enum('student','teacher','officer','executive') NOT NULL,
  `status` varchar(20) DEFAULT 'active',
  `created_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `updated_at` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `must_change_password` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`userId`),
  UNIQUE KEY `uk_users_email` (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-17 18:01:45
